.notification {
  position: absolute;
  z-index: 2;
  height: auto;
  display:flex;
}


.notification-container {
  position: fixed;
  display: flex;
  top: 1em;
  right: 1em;
  flex-direction: column;
  width: auto;
  max-width: 50em;
  min-width: 20em;
  height: auto;
  max-height: 80vh;
}

.notification-body {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  padding: 1em;
  border-radius: 1em;
}

.notification-icon{
  display: flex;
  font-size: 2em;
  height: 100%;
  margin-right: 0.5em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notification-message{
  display: flex;
  flex-direction: column;
}

.notification-title {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.errorToast {
  display: flex;
  border: 0.2em red solid;
  color: red;
  background-color: #ffbeaf;
  border-radius: 1em;
  margin: 0.2em;
  padding: 1em;
  text-align: center;
}

.warningToast {
  margin-bottom: 3em;
  border: 0.2em #ffa64d solid;
  color: #ff9705;
  background-color: #ffe6cc;
  border-radius: 1em;
  margin: 0.2em;
  padding: 1em;
  text-align: left;
}

.successToast {
  z-index: 3;
  border: 0.2em green solid;
  color: green;
  background-color: #b0ffb1;
  border-radius: 1em;
  margin: 0.2em;
  padding: 1em;
  text-align: left;
}

.infoToast {
  z-index: 3;
  border: 0.2em #0098b8 solid;
  color: #0098b8;
  background-color: #9ceeff;
  border-radius: 1em;
  margin: 0.2em;
  padding: 1em;
  text-align: left;
}

.notification-display-block {
  display: flex;
}

.notification-display-none {
  display: none;
}