

.tableStyle{
  display: flex;
  justify-content: center;
}

 th {
  color: #a7d129;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-weight: bold;
  white-space: nowrap;
}

 table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  thead{
    user-select: none;
    font-size: 1.2em;
    font-family: 'Electrolize', sans-serif !important;
    text-shadow: 0 0 4px rgba(161,236,251,0.65);
  }

  tbody{
    text-shadow: 0 0 4px rgba(161,236,251,0.65);
    td {
      vertical-align: middle !important;
      padding: 1em !important;
    }
    td:nth-child(1) {
      color: #feb72b;
    }
    
     td:nth-child(2) {
      color: #b8de6f;
    }
    
     td:nth-child(3) {
      color: #32afa9; 
    }
    
     td:nth-child(4) {
      color: #c3aed6;
    }
    
     td:nth-child(5) {
      color: #feb72b;
    }
    
     td:nth-child(6) {
      color: #feb72b;
    } 
    
  }
}
