.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  max-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 80vh;
  z-index: 5;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-exit{
  display: flex;
}

.modal-header{
  border-radius: 0.5em 0.5em 0em 0em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
} 

.modal-body{
  overflow-y: auto;
  display: flex;
  max-height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.modal-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.modal-default{
  display: flex;
  flex-direction: row;
}

.modal-ok{
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
}

.modal-warning{
  display: flex;
  flex-direction: row;
  background-color: orange;
}

.modal-error{
  display: flex;
  flex-direction: row;
  background-color: red;
}

.display-block {
  display: flex;
  flex-direction: row;
  display: block;
}

.display-none {
  display: flex;
  flex-direction: row;
  display: none;
}
