.wrapperContent {
  display: flex;
  width: max-content;
  flex-direction: row;
  overflow: hidden;
  .movieListContainer {
    
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
    .frames {
      display: flex;
      max-width: 18em;
      padding: 1em;
      user-select: none;
      cursor: pointer;
    }

    .glassPannel {
      position: absolute;
      z-index: 4;
      width: 100%;
      height: 100%;
    }
  }
}

.theList{
  height: 100%;
  overflow: hidden;
}


.frames:hover {
  animation: shadow 0.7s ease-in-out infinite alternate;
  @keyframes shadow {
    from {
      filter: drop-shadow(0 0 1.5em #70c4ff) 
    }

    to {
      filter: drop-shadow(0 0 1em #70c4ff) 
    }
  }
}

.frames > img {
  margin: unset !important;
}
