.form-log-reg{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.input{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 15em;
  background-color: rgba(0, 0, 0, 0.5);
  border: #26DAFD solid 1px;
}

.button-log-reg{
  text-align: center;
}

