.paginationControls{
  display: flex;
  flex-direction: row;
  margin: 1em;
  padding: 1em;
  justify-content: center;
  align-items: center;

  .paginationInfo{
    display: flex;
    flex-direction: row;
    margin: 1em;
    font-family: "Electrolize", sans-serif;
  }
}