
.header{
  position: fixed;
  display: inline;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
}

.contentClient{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 1em;
  margin-bottom: 3em;
  font-family: "Electrolize", sans-serif;
  text-shadow: 0 0 4px rgba(161, 236, 251, 0.65);
}
